/* Mission Carousel */

.mission-carousel {
  padding: 9rem 0;
  padding-top: 4.5rem;
}
.mission-carousel__list-item {
  width: 19rem;
  min-width: 19rem;
  height: 19rem;
  background-size: cover;
  display: flex;
  align-items: center;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

/* .mission-carousel__list-item:nth-child(1) {
  background-image: url(//unsplash.it/500/505);
}
.mission-carousel__list-item:nth-child(2) {
  background-image: url(//unsplash.it/500/500);
}
.mission-carousel__list-item:nth-child(3) {
  background-image: url(//unsplash.it/400/401);
}
.mission-carousel__list-item:nth-child(4) {
  background-image: url(//unsplash.it/400/403);
}
.mission-carousel__list-item:nth-child(5) {
  background-image: url(//unsplash.it/400/404);
} */

.mission-carousel__list-item:hover {
  transform: scale(1.2);
  /* background-color: rgba(#000, #000, #000, 1); */
}

.mission-carousel__link-1 {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url('./m1-inactive.png');
  transition: all 0.2s ease-in-out;
}

.mission-carousel__link-1:hover {
  background-image: url('./m1-active.png');
  text-decoration: none;
  color: white;
}

/* M2 */

.mission-carousel__link-2 {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url('./m2-inactive.png');
  transition: all 0.2s ease-in-out;
}

.mission-carousel__link-2:hover {
  background-image: url('./m2-active.png');
  text-decoration: none;
  color: white;
}

/* M3 */

.mission-carousel__link-3 {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url('./m3-inactive.png');
  transition: all 0.2s ease-in-out;
}

.mission-carousel__link-3:hover {
  background-image: url('./m3-active.png');
  text-decoration: none;
  color: white;
}

/* M4 */

.mission-carousel__link-4 {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url('./m4-inactive.png');
  transition: all 0.2s ease-in-out;
}

.mission-carousel__link-4:hover {
  background-image: url('./m4-active.png');
  text-decoration: none;
  color: white;
}

/* M5 */

.mission-carousel__link-5 {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url('./m5-inactive.png');
  transition: all 0.2s ease-in-out;
}

.mission-carousel__link-5:hover {
  background-image: url('./m5-active.png');
  text-decoration: none;
  color: white;
}

.mission-carousel__link {
  font-size: 1.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url('./m1-inactive.png');
  transition: all 0.2s ease-in-out;
}

.mission-carousel__link:hover {
  background-image: url('./m1-active.png');
}

.mission-carousel__list-item:hover .mission-carousel__link {
  /* color: #000; */
  color: #fff;
  text-decoration: none;
}

.mission-carousel__link-span:first-of-type {
  /* border: 1px solid black; */
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
}

.mission-carousel__link-span {
  /* display: block; */
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.3;
  font-weight: 900;
}

/* .mission-carousel__link.active {
  color: red !important;
  transform: scale(1.2);
} */
