.accordion-wrap {
  /* padding-bottom: 4rem; */
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #6f2c53;
  border-color: #6f2c53;
}

.ep-todo-span {
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}

.ep-accordion-heading {
  color: var(--blue-light, #3483aa);
  font-size: 1.3rem;
}
.mission-breadcrumb {
  color: var(--blue-light, #3483aa);
  font-size: 1rem;
  font-weight: 900;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 1rem;
  margin-top: 1rem;
}

/* SVG Circle and Checkmark */

.ep-text-button {
  font-size: 1.4rem;
  padding: 0;
  color: var(--maroon, #6f2d53);
  font-weight: 900;
}

.ep-text-status,
.ep-text-time {
  font-size: 1.2rem;
}

.ep-text-button:hover {
  color: var(--maroon, #6f2d53);
}

.ep-todo-svg {
  width: 1.5rem;
  display: inline-block;
}

.completed-svg {
  stroke: var(--green, #2e8c5a);
}

/* BS4 override */
.card-header {
  border-bottom: 0;
}

.card {
  border-radius: none;
}
