:root {
  --font-size-base: 1.6rem;
  --blue-light: #0092ef;
  --blue-dark: #004061;
  --blue-bright: #49d3ff;

  --yellow: #ffed00;
  --yellow-darker: #ccbe00; /* hover */
  --olive: #656565; /* hover */

  --white: #fff;
  --gray: #949494;
  --black: #000;
  --black-light: #333;
}

/* Fonts */

@font-face {
  font-family: 'Dxc-Bold';
  src: url('./fonts/GTWalsheimProBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Dxc-Light';
  src: url('./fonts/GTWalsheimProRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dxc-Regular';
  src: url('./fonts/GTWalsheimProRegular.ttf') format('truetype');
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: var(--font-size-base);
  font-family: 'Dxc-Regular', Arial, sans-serif;
  line-height: 1.42857;
  /* font-size: 1.6rem; 16px */
}

body {
  padding-top: 20rem; /*  navbar if fixed, need to add spcace*/
}

h1,
h2,
h3 {
  font-family: 'Dxc-Bold', Arial, sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.checkpoint-text-wrap {
  display: flex;
  align-items: center;
}

.checkpoint-text {
  font-size: 1.4rem;
}

.complete-text {
  color: var(--blue-bright);
}
.incomplete-text {
  color: var(--gray);
}
.in-progress-text {
  color: var(--black);
}
