:root {
  --font-size-base: 1.6rem;
  --blue-dark: #1e415e;
  --blue-medium: #1c6176;
  --blue-light: #3483aa;
  --gray: #55565a;
  --black: #231f20;
  --white: #fff;
}

/* Fonts */

@font-face {
  font-family: 'Oxygen-Bold';
  src: url('./fonts/Oxygen-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Oxygen-Light';
  src: url('./fonts/Oxygen-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Oxygen-Regular';
  src: url('./fonts/Oxygen-Regular.ttf') format('ttf');
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: var(--font-size-base);
  font-family: 'Oxygen-Regular';
  /* font-size: 1.6rem; 16px */
}

h1,
h2,
h3 {
  font-family: 'Oxygen-Bold';
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
