:root {
  --font-size-base: 1.6rem;
  --blue-light: #0092ef;
  --blue-dark: #004061;
  --blue-bright: #49d3ff;

  --yellow: #ffed00;
  --yellow-darker: #ccbe00; /* hover */
  --olive: #656565; /* hover */

  --white: #fff;
  --gray: #949494;
  --black: #000;
  --black-light: #333;
}

/* Fonts */

@font-face {
  font-family: 'Dxc-Bold';
  src: url('./fonts/GTWalsheimProBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Dxc-Light';
  src: url('./fonts/GTWalsheimProRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dxc-Regular';
  src: url('./fonts/GTWalsheimProRegular.ttf') format('truetype');
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: var(--font-size-base);
  font-family: 'Dxc-Regular', Arial, sans-serif;
  line-height: 1.42857;
  /* font-size: 1.6rem; 16px */
}

body {
  padding-top: 200px; /*  navbar if fixed, need to add spcace*/
}

main {
  /* width: 80%; */
  /* margin: 0 auto; */
}

h1,
h2,
h3 {
  font-family: 'Dxc-Bold', Arial, sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*  Override bs4 deafault max-width: 1140px
To match DXC width 1330px */

@media (min-width: 1200px) {
  main > .container {
    /* max-width: 1330px; */
    /* margin-left: 70px; */
    /* margin-right: 70px; */
  }
}
