.nav-link {
  color: var(--black, #231f20) !important;
  margin-right: 2rem;
  font-family: 'Oxygen-Bold';
}

.nav-link:hover {
  color: var(--blue-light, #3483aa) !important;
  text-decoration: none;
}

.search-icon-wrap {
  width: 3rem;
  height: 2rem;
}

svg.search-icon {
  fill: var(--black, #231f20);
}
svg.search-icon:hover {
  fill: var(--blue-light, #3483aa);
}
